body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

#product-overview {
  background: url('freedom.jpg');
  width: 100%;
  height: 528px;
  padding: 10px;
}

.select-product {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: 'Epilogue', sans-serif;
  text-align: center;
  padding-top: 60px;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 15px;
  margin: 20px;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

.move__little {
  margin-left: 165px;
}

.plan__highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.445);
}

.rec__button {
  background: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.445);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan__highlighted .plan__title {
  color: white;
}

.plan__highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan__feature {
  margin: 8px 0;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

.main-header {
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-nav_item {
  display: inline-block;
  color: green;
  margin: 0 16px;
}

.main-nav_item a {
  text-decoration: none;
  color: green;
  padding: 3px 0;
}

.main-nav_item a:hover,
.main-nav_item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-header>div {
  display: inline-block;
  vertical-align: middle;
}

.brand {
  color: green;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 80px);
  vertical-align: middle;
}

.main-nav_items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.cta a:hover,
.cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}