.packages {
  margin: 10px 0;
  border: 3px solid rgb(16, 88, 16);
  width: 55%;
  background: rgba(130, 229, 213, 0.32);
  padding-left: 30px;
}

.packages a {
  text-decoration: none;
  color: black;
  padding: 30px;
}

.package-sub__heading {
  color: gray;
}

.packages_p {
  border: 2px solid black;
  width: 90%;
  padding: 20px;
  background: white;
}

.packages-premium {
  background: rgb(16, 88, 16);
}

.packages-premium a h1 {
  color: white;
}

.packages:hover,
.packages:active {
  border-color: red;
}